.hidden {
    display: none;
}

.task {
    border-color: azure;
    border-style: solid;
    border-radius: 10px;
    border-width: 1px;
    background-color: #636E72;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 10px;
}

.box {
    float: left;
    height: 25px;
    width: 25px;
    margin-top: 2px;
    border: 1px solid black;
    clear: both;
    border-radius: 100%;
    vertical-align: baseline;
}

.red {
    background-color: red;
    border-color: red;
}

.green {
    background-color: #00FF00;
    border-color: #00FF00;
}

.icon {
    margin-left: 1px;
    margin-right: 1px;
}

table {
    width: 100%;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

td {
    vertical-align: top;
}

.status {
    width:20%;
}

.task-text{
    width: 60%;
    font-size: 24px;
}

.buttons{
    width: 20%;
}

.edit-name-area{
    margin-top: 10px;
}