.TaskListContainer {
  text-align: center;
  color: aliceblue;
  max-width: 600px;
  margin: auto;
}

button {
  background-color: #DFE6E9;
  border-width: 0px;
  font-size: 18px;
  margin-left: 2px;
  margin-right: 2px;
}